* {
    padding: 0;
    margin: 0;
    font-family: "Microsoft JhengHei";
}
html {
    margin: 0 auto;
}
hr {
    border-top: #d7ac41 solid 1px;
    width: 62px;
}
#test {
    height: 100px;
    width: 100%;
    background-color: #6c6c6c;
}
#test2 {
    height: 100px;
    width: 100%;
    margin: 0 135px 0 135px;
    background-color: #ff0000;
}

img.logo {
    box-sizing: content-box;
    width: 443px;
    height: 80px;
    padding-top: 34px;
    margin-left: 45px;
}
@media only screen and (min-width: 1400px) {
    html {
        width: 1440px;
    }
}
@media only screen and (min-width: 1200px) {
    header {
        height: 130px;
    }
    nav {
        float: right;
        margin-top: 70px;
        padding-right: 70px;
    }
    #about{
        height: 754px;
    }
    #service{
        height: 667px;
    }
}
@media only screen and (max-width: 1200px) {
    header {
        height: auto;
    }
    nav {
        display: block;
        padding-left: 30px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 533px) {
    img.logo {
        box-sizing: content-box;
        width: 100%;
        height: auto;
        padding-top: 34px;
        margin: 0 auto;
    }
}

ul.navbar-list {
    list-style-type: none;
    overflow: hidden;
}

ul.navbar-list > li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

ul.navbar-list > li > a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #6c6c6c;
}

ul.navbar-list > li > a:hover {
    color: #d7ac41;
}

#top_banner {
    background: url(../images/top-banner.jpg) fixed center;
    background-size: cover;
    height: 782px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#top_banner .row {
    margin: 0 auto;
    width: 100%;
}
#top_banner h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 10px;
}
#top_banner p {
    font-size: 24px;
}
#about img{
    margin: 0 auto;
    width: 120px;
    height: 120px;
}
#about{
    background: url(../images/about-bg.jpg) fixed center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #ffffff;
}
#about .row{
    width: 55.319149%;
    margin: 0 auto;;
}

#about p{
    margin-top: 40px;
    margin-bottom: 0px;
    size: 16px;
    font-weight: 300;
    line-height: 1.62;
}
#about p strong{
    font-size: 24px;
    font-weight: 600;
}
#about hr{
    margin: 0 auto;
    margin-top: 40px;
}
#service{
    background: url(../images/service-bg.jpg) fixed center;
    background-size: cover;
    display: flex;
    align-items: center;
}
#service .row{
    width: 85.1%;
    margin: 0 auto;
    height: 100%;
}
#service hr{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 25px;
}
#service h1{
    margin-bottom: 10px;
}
.service_box{
    margin-top: 30px;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    margin-right: 15px;
}   
.service_inner_box{
    width: 100%;
}

#team .row.teamBox{
    width: 85.1%;
    margin: 0 auto;
    height: 100%;
}
#team hr{
    margin: 0 auto;
    margin-top: 100px;
}
.team_member_background {
    background-color: #f6f7f8;
    min-width: 258px;
}

#team h1{
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
    color: #4a494b;
}
    
#team .info h3{
    padding-top: 60px;
    font-size: 50px;
    font-weight: 600;
}
#team .info .title{
    font-size: 16px;
    font-weight: 300;
    margin-top: 18px;
}
#team .info skill{
    font-size: 16px;
    margin-top: 16px;
}
#team .info .email{
    margin-top: 20px;
    padding-bottom: 30px;
}
#all_member_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 100px;
    width: 270px;
    border: #d7ac41 solid 1px;
}
#team a{
    margin: 1.06rem;
    color: #d7ac41;
    text-decoration: unset;
}
#footer{
    background: url(../images/footer-bg.jpg) fixed center;
    background-size: cover;
    display: flex;
    align-items: center;
}
#footer .row{
    width: 85.1%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 100px;
}
#footer h1{
    font-size: 50px;
    font-weight: 600;
    color: #4a494b;
    margin-bottom: 40px;
}
#footer p{
    font-size: 16px;
    margin-bottom: 20px;
}
#footer hr{
    margin-top: 100px;
}

#cpy_right_bar{
    height: 48px;
    background: #2b2c2c;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    
}
#cpy_right_bar div {
    width: 100%;
}
#cpy_right_bar div p{
    margin: 0;
}
